.detail-emoji-title{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #4C5356;
    margin-bottom:20px;
    text-align: center;
}

.detail-emoji-image-container{
    margin:auto;
    width:100px;
    height:100px;
    margin-bottom:20px;
}

.detail-emoji-image{
    width:100%;
    height:100%;
}

.detail-emoji-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #004666;
}
